:host {
    display: flex;
    flex-direction: row;
}

img {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
}

.image-scroll {
    background-color: transparent;
    border: none;

    :hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
