:host {
    display: flex;
    flex-direction: row;
    margin: auto;
}

img {
    height: 60vmin;
    width: 60vmin;
    object-fit: contain;
}

.image-scroll {
    background-color: transparent;
    border: none;

    :hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .material-symbols-rounded {
        font-size: 200%;
    }
}
