:host {
    padding: 5px;
    background: linear-gradient(to top left, var(--primary), var(--secondary));
    border-radius: 2rem;
    display: flex;
    width: fit-content;
}

input {
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    border: none;
    box-sizing: border-box;
}
