:host {
    display: flex;
    flex-direction: column;
}

table {
    tr {
        border-bottom: solid 1px;

        :hover {
            cursor: pointer;
            background-color: var(--accent);
        }
    }

    td,
    th {
        padding: 0.5rem;
        height: 8rem;

        img {
            width: 6rem;
            height: 6rem;
            object-fit: contain;
        }
    }

    td {
        text-align: center;
    }
}
